<!DOCTYPE html>
<html>
<head>
    <title>Page de consultation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        
        h1 {
            color: #333;
        }
        
        .button-container {
            margin-top: 30px;
        }
        
        .button-container button {
            padding: 12px 24px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-right: 10px;
        }
        
        .button-container button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Page de consultation</h1>
    <div class="button-container">
        <button onclick="window.location.href = '/clients';">Consulter les clients</button>
        <button onclick="window.location.href = '/assurances';">Consulter les assurances</button>
    </div>
</body>
</html>