{% extends 'base.html.twig' %}

{% block body %}
    <h1>Assurances list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Montant</th>
                <th>Prime</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for assurance in assurances %}
            <tr>
                <td><a href="{{ path('assurance_show', { 'id': assurance.id }) }}">{{ assurance.id }}</a></td>
                <td>{{ assurance.type }}</td>
                <td>{{ assurance.montant }}</td>
                <td>{{ assurance.prime }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('assurance_show', { 'id': assurance.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('assurance_edit', { 'id': assurance.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('assurance_new') }}">Create a new assurance</a>
        </li>
    </ul>
{% endblock %}
