{% extends 'base.html.twig' %}

{% block body %}
    <h1>Assurance</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ assurance.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ assurance.type }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ assurance.montant }}</td>
            </tr>
            <tr>
                <th>Prime</th>
                <td>{{ assurance.prime }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('assurance_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('assurance_edit', { 'id': assurance.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
